<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>debug break</Title>
    <Author>midi</Author>
    <Shortcut>dbk</Shortcut>
    <Description>Code snippet for debug break;</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="TIScript"><![CDATA[debug break;$end$]]></Code>
  </Snippet>
</CodeSnippet>