<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>stderr.println</Title>
    <Author>midi</Author>
    <Shortcut>ste</Shortcut>
    <Description>Code snippet for stderr.println()</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="TIScript"><![CDATA[stderr.println($end$);]]></Code>
  </Snippet>
</CodeSnippet>